:root {
    --titles: #e4b7ee;
    --titlehover: #e4b7ee;
    --itemshoveroutline: #393E46;
    --itemsoutline: #00D1CD;
    --itembg: #0D7377;
    --itemshoverbg: #F30067;
    --hidden: #212121;
    --board: #393E46;
    --boardoutline:#fefcff;
    --hover: #F30067;
    --background: #232931;
    --snakebody: #00D1CD;
    --food: orange;
    --textstyle: 'Press Start 2P', cursive;
    --instructions: #37f7f9;
    --gameover: #F30067;
    --scoreboard: white;
  }

  *{
    overflow: hidden;
  }

body{
    background-color: var(--background);
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto;
    color: var(--titles);
    font-family: var(--textstyle);
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
#score-tracker{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0;
    margin:5px;
    width: 95%;
    font-size: 0.75rem;
    color: var(--scoreboard);
}
#score-tracker >div{
    margin:0;
    text-align: center;
}

#score-tracker >div >p {
    display: inline;
}

.game-board{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px; 
    height: 450px;
    margin-bottom: 20px;
    /* (30 divs)x (15px) = 450px height and width for board */
    background-color: var(--board);
    border: 10px inset var(--boardoutline);
}

.cell{
    background-color: var(--board);
    flex-basis: 1;
    width: 15px;
    height: 15px;
}

aside{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

h1{
    font-size: 5rem;
    margin-bottom: 10px;
    /* create background image behind text */
    background-image: linear-gradient(90deg,
    var(--snakebody) 0%,
    var(--itembg) 40%,
    var(--snakebody) 50%,
    var(--itembg) 75%,
    var(--snakebody)100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    /* background exists in text only. turn text transparent  */
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation (duration| easing-funciton| delay | iteration-count | name) */
    animation: 1s linear 0s infinite title-animate;
}

h2{
    font-size:1.5rem;
}

h2:hover{
    color: var(--titlehover);
    cursor: crosshair;
}

li{
    padding: 5px;
}

li:hover{
    padding: 5px;
    color: var(--hover);
    cursor: crosshair;
}

#reset-btn{
    background-color: var(--background);
    padding: 20px;
    font-size: 1.5rem;
    font-family: var(--textstyle);
    border-radius: 10px;
    border: 5px solid var(--itemsoutline);
    color: var(--itemsoutline);
}

#reset-btn:hover{
    background-color: var(--itemshoverbg);
    color: var(--background);
    cursor: pointer;
    border-color:var(--background);
}

#start-btn{
    position: absolute;
    cursor: pointer;
    top: 190px;
    left: 110px;
    padding: 20px 40px;
    font-family: var(--textstyle);
    border-radius: 10px;
    background: var(--itemshoverbg);
    font-size: 30px;
    border: 5px solid var(--itemshoveroutline);
    color: var(--itemshoveroutline);
    transition: all 200ms ease-in-out;
}

#start-btn:hover{
    background: var(--itemhover);
    color: var(--itemsoutline);
    border-color: var(--itemsoutline);
    cursor: pointer;
}

.hidden-stuff{
    display: none;
}

.snake-body{
    background-color:var(--snakebody);
}

.food{
    background-color:var(--food);
    border-radius: 10px;
}

.game-board > p{
    font-family: var(--textstyle);
    position: absolute;
    text-align: center;
    top: 100px;
    left: 50px; 
    color: var(--instructions);
    animation: 1s linear 0s infinite pulse;
}


#game-over-msg{
    display:none;
    position: absolute;
    text-align: center;
    font-size: 4rem;
    width: 100%;
    top: 15%;
}

#game-over-msg >p {
    color: var(--gameover);
    /* animation (duration| easing-funciton| delay | iteration-count | name) */
    animation: 1s linear 0s infinite pulse;
}


/* animation keyframes */
@keyframes title-animate{
    to {
        background-position: 200% center;
    }
}

@keyframes pulse {
    0% {
		transform: scale(0.95);

	}

	70% {
		transform: scale(1);

	}

	100% {
		transform: scale(0.95);
	
	}
    
}

