:root {
    --defaultcolor: #00D1CD;
    --textstyle: 'Press Start 2P', cursive;
    --errorcolor: #F30067;
    --scoretracker: white;

    --background: #232931;
    --board: #393E46;
    --boardoutline:#fefcff;

    --maintitle1: #00D1CD;
    --maintitle2: #0D7377;

    --topscoretitle: #00D1CD;
    --topscoretitlehover: #F30067;
    --topscorelist: #00D1CD;

    --resetbtnbg: #232931;
    --resetbtnborder: #00D1CD;
    --resetcolor: #00D1CD;
    --resethoverbg: #F30067;
    --resethovercolor: #232931;

    --usernamebox: #00D1CD;
    --usernamebg: #232931;
    --usernamefocus: #393E46;
    --usernametext: #00D1CD;

    --startbtnbg: #F30067;
    --startbtnborder: #F30067;
    --startbtncolor: #393E46;
    --startbtnhoverbg: #393E46;
    --startbtnhoveroutline: #00D1CD;
    --startbtnhovercolor: #00D1CD;

    --snakebody: #00D1CD;
    --instructions: #37f7f9;
    --gameover: #F30067;
    --foodcolor: orange;
}

*{
overflow: hidden;
}

body{
    background-color: var(--background);
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto;
    color: var(--defaultcolor);
    font-family: var(--textstyle);
    height: 100vh;
    grid-template-areas: 
    "left middle right";
}
#info{
    grid-area: left;
}
#data{
    grid-area: right;
}
main{
    grid-area: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
#score-tracker{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding:0;
    margin:5px;
    width: 95%;
    font-size: 0.75rem;
    color: var(--scoretracker);
}
#score-tracker >div{
    margin:0;
    text-align: center;
}

#score-tracker >div >p {
    display: inline;
}

.game-board{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px; 
    height: 450px;
    margin-bottom: 20px;
    /* (30 divs)x (15px) = 450px height and width for board */
    background-color: var(--board);
    border: 10px inset var(--boardoutline);
}

.cell{
    background-color: var(--board);
    flex-basis: 1;
    width: 15px;
    height: 15px;

}

aside{
    margin-top: 200px;
}

h1{
    font-size: 5rem;
    margin-bottom: 10px;
    /* create background image behind text */
    background-image: linear-gradient(90deg,
    var(--maintitle1) 0%,
    var(--maintitle2) 40%,
    var(--maintitle1) 50%,
    var(--maintitle2) 75%,
    var(--maintitle1)100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    /* background exists in text only. turn text transparent  */
    background-clip: text; 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* animation (duration| easing-funciton| delay | iteration-count | name) */
    animation: 1s linear 0s infinite title-animate;
}

h2{
    color: var(--topscoretitle);
    font-size:2rem;
    text-align: center;
    animation: 1s linear 0s infinite pulse;
}
ol{
    color: var(--topscorelist);
    padding-inline-start: 0;
    text-align: center;
}

li{
    padding: 5px 0;
}

h2:hover{
    color: var(--topscoretitlehover);
    cursor: crosshair;
}

#reset-btn{
    background-color: var(--resetbtnbg);
    padding: 20px;
    font-size: 1.5rem;
    font-family: var(--textstyle);
    border-radius: 10px;
    border: 5px solid var(--resetbtnborder);
    color: var(--itemsoutline);
}

#reset-btn:hover{
    background-color: var(--resethoverbg);
    color: var(--resethovercolor);
    cursor: pointer;
    border-color:var(--resethovercolor);
}
#username{
    position: absolute;
    cursor: cell;
    top: 175px;
    left: 112px;
    height: 50px;
    width: 220px;
    font-family: var(--textstyle);
    font-size: 1.5rem;
    text-align: center;
    border-radius: 10px;
    border: 5px solid var(--usernamebox);
    background-color: var(--usernamebg);
    color: var(--usernametext);
}

#username:focus{
    outline: none;
    background-color: var(--usernamefocus);
    top: 170px;
    left: 107px;
    height: 60px;
    width: 230px;
}

#start-btn{
    position: absolute;
    cursor: pointer;
    top: 275px;
    left: 110px;
    padding: 20px 40px;
    font-family: var(--textstyle);
    border-radius: 10px;
    background: var(--startbtnbg);
    font-size: 30px;
    border: 5px solid var(--startbtnborder);
    color: var(--startbtncolor);
    transition: all 200ms ease-in-out;
}

#start-btn:hover{
    background: var(--startbtnhoverbg);
    color: var(--startbtnhovercolor);
    border-color: var(--startbtnhoveroutline);
    cursor: pointer;
}


.snake-body{
    box-sizing: border-box;
    background-color:var(--snakebody);
}

.food{
    border-radius: 10px;
    background-color: var(--foodcolor);
}

.game-board > p{
    font-family: var(--textstyle);
    position: absolute;
    text-align: center;
    top: 100px;
    left: 50px; 
    color: var(--instructions);
    animation: 1s linear 0s infinite pulse;
}


#game-over-msg{
    display:none;
    position: absolute;
    text-align: center;
    font-size: 4rem;
    width: 100%;
    top: 15%;
}

#game-over-msg >p {
    color: var(--gameover);
    /* animation (duration| easing-funciton| delay | iteration-count | name) */
    animation: 1s linear 0s infinite pulse;
}


/* animation keyframes */
@keyframes title-animate{
    to {
        background-position: 200% center;
    }
}
@keyframes pulse {
    0% {
		transform: scale(0.95);
	}
	70% {
		transform: scale(1);
	}
	100% {
		transform: scale(0.95);
	}
}

#error{
    display: none;
}

/* design for small screens */
@media only screen and (max-width: 907px){
    aside{
        display: none;
    }
    /* thinking of adding info at the bottom */
}
@media only screen and (max-width: 600px){
    aside{
        display: none;
    }
    main{
        display: none;
    }
    body{
        display: block;
    }
    h1{
        margin-top: 0;
        font-size: 4rem;
    }
    p{
        color: var(--errorcolor);
    }
    #error{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100vh;
        margin: 1rem;
    }
}
@media only screen and (max-width: 383px){
    h1{
        font-size: 3rem;
    }
}
@media only screen and (max-width: 286px){
    h1{
        font-size: 2rem;
    }
}
@media only screen and (max-width: 200px){
    h1{
        font-size: 1rem;
    }
}