:root {
    --titles: #00D1CD;
    --titlehover: #00FFC6;
    --itemshoveroutline: #393E46;
    --itemsoutline: #00D1CD;
    --itembg: #0D7377;
    --itemshoverbg: #F30067;
    --hidden: #212121;
    --board: #393E46;
    --hover: #F30067;
    --background: #232931;
  }

body{
    background-color: var(--background);
    display: grid;
    grid-template-columns: auto 600px auto;
    grid-template-rows: auto;
    color: var(--titles);
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.game-board{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 450px; 
    height: 450px;
    margin: 20px;
    /* (30 divs)x (15px) = 450px height and width for board */
    
}
.cell{
    background-color: var(--board);
    flex-basis: 1;
    width: 15px;
    height: 15px;
}
aside{
    display: flex;
    flex-direction: column;
    margin-top: 200px;
}

h1{
    font-size: 5rem;
    margin-bottom: 0;
    transition: all 1s ease-in-out;
}
h2{
    font-size:1.5rem;
}
h1:hover, h2:hover{
    color: var(--titlehover);
    cursor: crosshair;
}
li{
    padding: 5px;
}
li:hover{
    padding: 5px;
    color: var(--hover);
    cursor: crosshair;
}

#reset-btn{
    background-color: var(--itembg);
    padding: 20px;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    border: 5px solid var(--itemsoutline);
    color: var(--itemsoutline);
}

#reset-btn:hover{
    background-color: var(--itemshoverbg);
    color: var(--background);
    cursor: pointer;
    border-color:var(--background);
}

#start-btn{
    position: absolute;
    cursor: pointer;
    top: 190px;
    left: 110px;
    padding: 20px 40px;
    font-family: 'Press Start 2P', cursive;
    border-radius: 10px;
    background: var(--itemshoverbg);
    font-size: 30px;
    border: 5px solid var(--itemshoveroutline);
    color: var(--itemshoveroutline);
    transition: all 400ms ease-in-out;
}
#start-btn:hover{
    background: var(--itemhover);
    color: var(--itemsoutline);
    border-color: var(--itemsoutline);
    cursor: pointer;
    
}

.hidden-stuff{
    display: none;
}

.snake-body{
    background-color:#00D1CD;
}